---
import RootLayout from "@/layouts/RootLayout.astro";
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPages = await getCollection("pages");

  return allPages.map((post) => {
    return {
      params: { page: post.slug },
      props: post,
    };
  });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const {
  data: { title },
  render,
} = Astro.props;
const { Content } = await render();
---

<RootLayout title={title}>
  <main
    class="container lg:max-w-screen-md px-4 lg:py-16 lg:space-y-16 py-8 space-y-8 mx-auto"
  >
    <h2 class="text-4xl font-bold text-zinc-600 dark:text-zinc-100">
      {title}
    </h2>
    <article class="prose dark:prose-invert md:prose-lg max-w-none prose-zinc">
      <Content />
    </article>
  </main>
</RootLayout>
