---
import { getCollection } from "astro:content";
import RootLayout from "@/layouts/RootLayout.astro";
import { compareDesc } from "date-fns";
import PostRow from "@/components/PostRow.astro";

const allPosts = await getCollection("posts");
const recentPosts = allPosts
  .sort((a, b) =>
    compareDesc(new Date(a.data.publishDate), new Date(b.data.publishDate))
  )
  .slice(0, 5);
---

<RootLayout>
  <main class="container mx-auto my-16 px-4 lg:max-w-screen-md">
    <section class="my-16">
      <p
        class="mb-1 text-2xl font-medium text-zinc-600 dark:text-zinc-400 md:text-3xl"
      >
        Hi 👋
      </p>
      <h1 class="mb-8 mt-4 text-4xl font-bold md:text-5xl">I'm Rohid</h1>
      <div class="prose prose-zinc max-w-none dark:prose-invert lg:prose-lg">
        <p>
          I'm a self-thought developer. I'm currently building <a
            href="https://inspirly.app"
            target="_blank">Inspirly</a
          > in public and also doing <a href="https://youtube.com/@rohiddev"
            >YouTube</a
          > occasionally.
        </p>
      </div>
    </section>
    <section id="recent-posts" class="my-16">
      {recentPosts.map((post) => <PostRow data={post} />)}
    </section>
  </main>
</RootLayout>
