<footer class="border-t border-zinc-100 dark:border-zinc-800">
  <div
    class="container mx-auto lg:max-w-screen-md px-4 py-6 items-center flex text-center justify-center"
  >
    <p class="text-zinc-600 dark:text-zinc-400 text-center">
      © 2023 <a href="https://rohid.dev" class="hover:underline font-medium"
        >rohid.dev</a
      >
      • Powered by <a
        href="https://astro.build"
        target="_blank"
        class="hover:underline font-medium">Astro</a
      >
      • Hosted on <a
        href="https://vercel.com"
        target="_blank"
        class="hover:underline font-medium">Vercel</a
      >
      • <a
        href="https://github/iam-rohid/rohid-dev"
        target="_blank"
        class="hover:underline font-medium">Source Code</a
      >
    </p>
  </div>
</footer>
